.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    color: white;
    background-color: $orange-bg;
    font-family: $font-main;
  }