.header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('../images/breaking-bad.jpg');
  background-size: cover;
  background-position: center;
  align-items: center;
  &__div {
    background-color: white;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(30px);
    box-shadow: 1px 1px 4px 0px #afa9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    &--input {
      border: solid 2px $orange-bg;
      width: 70vw;
      height: 25px;
      padding-left: 10px;
      margin: 2rem;
    }
    &--btn {
      background-color: $orange-bg;
      color: $back-color;
      text-transform: capitalize;
      border: none;
      border-radius: 5%;
      margin-right: 40px;
      padding: 2px;
      height: 30px;
      width: 80px;
      cursor: pointer;
    }
  }
}
