.aside{
   display:flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   &__title{
    text-align: center;
    color: $orange-bg;
    margin-bottom: 20px;
    font-family: $font-main;
   }
   &__favourite{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;

   }
}