/* 
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'pages/index'; */

@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/footer';

.main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}

.section__character{
    text-align: center;
    color: $orange-bg;
    margin-bottom: 20px;
}


.section__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70%;
    list-style: none;
    &__article{  
        justify-content: center;
        align-items:center;
        align-content: center;
        width:150px;    
        &--img{
            max-width:100px;
        }
    }

}